body {
    margin: 0;
}

h1, h2, h3 {
    color: darkblue;
}

h3 {
    margin-top: 0;
}

span.likes {
    font-size: 16px;
    color: grey;
    margin-left: 10px;
}

main {
    padding: 20px;
}

article {
    border: 1px black solid;
    padding: 20px;
    margin: 20px 0;
    background-color: #efefef;
}

footer {
    background-color: black;
    color: white;
    padding: 30px;
}