<html>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<main>
  <h1>My Web</h1>

  <!-- The specific template will be included here -->
  <%= yield %>
</main>

<footer>©2020 - Barcelona</footer>

</body>
</html>
